<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Enter New User :</h1>
    <form method="post" action="/user/add">
    <input type="text" placeholder="username" name="username">
    <br>
    <br>
    <input type="email" placeholder="email" name="email">
    <br>
    <br>
    <input type="password" placeholder="password" name="password">
    <br>
    <br>
    
    <button>Submit</button>
</form>
</body>
</html>